/* .background{
    background-color: black;
} */

.background{
    background-color:lightgrey;
}

.name{
    border: 1px solid blue;
    text-align: center;

}

.newGameTextBox {
    border: 1 px solid red;
    width:30px;
}

.main{
    border: 1px solid green;

}
.newGame{
    border: 1px solid violet;

}
.Messages{
    border: 1px solid silver;
    text-align: center;

}
.OuterHorizontalBox{
    display:flex;
    flex-direction:row;
    border: 1px solid black;

}
.StatsBox{
    border: 1px solid blueviolet;
    min-width: 25%;
    max-width: 25%;

}
.CentralBox{
    border: 1px solid orangered;
min-width: 50%;
max-width: 50%;
min-height: auto;
}
.UpperWaterfall{
    border: 1px solid brown;
    max-height: 400px;

}
.gamePlay{
    border: 1px solid grey;
    min-height: 200px;
    display:flex;
    flex-direction: column;

}
.containsLetters{
    display:flex;
}
.submitLettersButton{
    vertical-align: auto;
}

.letterBox{
    max-width: 20px;

}

.LowerWaterfall{
    border: 1px solid red;
    min-height: 400px;

}

.Waterfall{
min-height: 300px;
}



.definitionApiBox {
    min-width: 25%;
    max-width: 25%;
    border: 1px solid red;
    text-align: left;
    display: flex;
    flex-direction: column;

  }

.definitionApiWord{
    border: 2px solid yellow;
}

.definitionApiDefinitions{
    border: 2px solid green;
}
