/* .background{
    background-color: black;
} */


/* 
.name{
    text-shadow: 2px 2px  darkgray;
} */

.background{
    background-color:lightgrey;
}

.name{
    /* border: 1px solid blue; */
    text-align: center;
    box-shadow: 2px 2px 5px 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 5px;
    text-shadow: 2px 2px  darkgray;
    background-color:lightgrey;




}

#jazz{
    max-width:100%;
}

.main{
    background-color:lightgrey;

}

.newGameTextBox {
    /* border: 1 px solid red; */
    width:30px;
}

#newGame {
    box-shadow: 2px 2px;


}


.newGame{
    /* border: 1px solid violet; */
    box-shadow: 2px 2px 5px 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 5px;



}
.Messages{
    /* border: 1px solid silver; */
    text-align: center;
    box-shadow: 2px 2px 5px 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;





}
.OuterHorizontalBox{
    display:flex;
    flex-direction:row;
    /* border: 1px solid black; */

}
.StatsBox{
    /* border: 1px solid blueviolet; */
    min-width: 25%;
    max-width: 25%;
    box-shadow: 2px 2px 5px 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;



}
.CentralBox{
    /* border: 1px solid orangered; */
min-width: 50%;
max-width: 50%;
min-height: auto;
}
.UpperWaterfall{
    /* border: 1px solid brown; */
    max-height: 400px;
    overflow:hidden;
    flex: auto;
    box-shadow: 2px 2px 5px 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;





}
.gamePlay{
    /* border: 1px solid grey; */
    min-height: 200px;
    display:flex;
    flex-direction: column;
    text-align:center;
    margin: auto;
    box-shadow: 2px 2px 5px 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;





}
.containsLetters{
    display:flex;
    flex-basis: auto;
    text-align:center;
    margin: auto;



}
#submitLettersButton{
    /* vertical-align: auto;
    max-width: 300px;
    text-align: center;
    justify-content: center; */
    margin: auto;
    margin-bottom: 10px;
    border-radius: 25px;
    max-width: 300px;
    box-shadow: 2px 2px;



}

.letterBox{
    max-width: 20px;

}

.letterBox input[type="text"] {
    width: 100%;
    }
    
.buttonAddLetter{
    vertical-align: auto;
    box-shadow: 2px 2px;

}

.LowerWaterfall{
    /* border: 1px solid red; */
    min-height: 400px;
    box-shadow: 2px 2px 5px 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    


}

.Waterfall{
min-height: 300px;
}

.definitionApiIntro {
    box-shadow: 2px 2px 5px 1px;
    border-radius: 10px;
    padding: 10px;


}

.definitionApiBox {
    min-width: 23%;
    max-width: 23%;
    /* border: 1px solid red; */
    text-align: left;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px 1px;
    border-radius: 10px;
    margin: 5px;


  }

.definitionApiWord{
    /* border: 2px solid yellow; */
    padding: 10px;
    border-bottom: 1px solid black;

}

.definitionApiDefinitions{
    /* border: 2px solid green; */
    padding: 10px;

}

/* span {
    border-radius: 5px;
    display: none;
    font-size: 1.3em;
    text-align: center;
    position: absolute;
    background: #2F558E;
    left: 105%;
    top: 25px;
    width: 160px;
    padding: 7px 10px;
    color: #fff;
  }
  span:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #2F558E;
    border-width: 8px;
    margin-top: -8px;
  } */

  @media (max-width: 800px) {
      .OuterHorizontalBox{
          flex-direction:column;
          order: -1;
      }
      .CentralBox{
          min-width:100%;
          display:flex;
          flex-direction: column;

      }
      .StatsBox { order: 2; }
      /* .CentralBox :nth-child(2) { order: 1; }
      .CentralBox :nth-child(3) { order: 0; } */


      .Waterfall{
          display:none;
      }
      .definitionApiBox{
          max-width: 100%;
      } 

      .StatsBox{
          max-width: 100%;
      }

       .gamePlay{
        max-width: 100%;

      }
  }